*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-size: 20px;
	font-family: 'Caveat', cursive;
	background-color: #66CDAA
}
p{
	color:red;
	margin: 30px;
}
img{
  	max-width: 100%;
  	height: auto;
  	display: block;
  }
div{
	width:90%;
	margin: auto;
    background-color: #B0C4DE;
    padding: 50px;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.2); 
}
 a{
 	text-decoration: none;
 	color: tomato ;
 	display: block;
 	margin: 20px 0;
 }
 a{
text-decoration: none;
color:#66CDAA;
display: inline-block;
margin: 20px 0;
border-bottom: 1px solid transparent;
transition: 0.2s ease-in;
 }
 a:hover {
 	border-bottom-color: #DB7093;
 }